<br>

<i class="fa fa-users fa-2x"></i> <%= link_to('Students', mstudents_path, :class => :customizelinks) %><br> Add new students<br><br>
<i class="fa fa-meh-o fa-2x"></i> <%= link_to('Behaviors', behaviors_path, :class => :customizelinks) %><br> Add/modify behaviors<br><br>
<i class="fa fa-check-square fa-2x"></i> <%= link_to('Interventions', interventions_path, :class => :customizelinks) %><br> Add/modify interventions<br><br>

<i class="fa fa-wrench fa-2x"></i> <%= link_to('Profile', edit_user_registration_path, :class => :customizelinks) %> <br>
Edit/Delete your profile <br><br><br><br><br>

<p style="font-size:10px">Email picotrend@gmail.com with any feedback suggestions or <a href="http://www.twitter.com/dhold" target="new">@dhold</a> on twitter.</p>