<div class="behavereport">
<strong>Student Behavior Frequency</strong><br><br>

<% @students2.each do |student| %>

<%= student[0] %> | <%= student[1] %>
<br>

<% end %>
</div>
<div class="behavereport">
<br>
<strong>Most frequent behaviors:</strong> <br><br>

<% @behive.each do |behive| %>

<%= behive[0] %> <%= behive[1] %>
<br>

<% end %>
</div>