
            <li><%= link_to('Tracker', students_path) %></li>
            <li><%= link_to('Students', mstudents_path) %></li>
            <li><%= link_to('Interventions', interventions_path) %></li>
           	<li><%= link_to('Profile', edit_user_registration_path) %> </li>
       